// Shoelace custom.

// Anti gravity.
.antiGravity {
    background-color: rgba(red(@bodyBackgroundAlt), green(@bodyBackgroundAlt), blue(@bodyBackgroundAlt), 0.6);
    border-color: @bodyBackgroundAlt;
    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
    bottom: 32px;
    display: none;
    font-size: 32px;
    line-height: 1;
    padding: 10px 10px 8px 10px; 
    position: fixed;
    right: 40px;
    text-align: center; 
    text-decoration: none;
    color: @navbarText;
    &:hover, &:focus {
        text-decoration: none;
        border-radius: 1em;
        color: @navbarText;
        i.fa {
            border-radius: 45px;
            box-shadow: 0px 0px 25px #ffffff;
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
}

// Attempt to solve overflowing table issue: https://moodle.org/mod/forum/discuss.php?d=279883 - related to: https://moodle.org/mod/forum/discuss.php?d=274915 - which might be too - code comes from: https://github.com/gjb2048/moodle-theme_shoehorn/issues/5
table {
    th, td {
        padding-left: 20px;
        word-break: break-word;
        word-wrap: break-word;
    }
    th:first-of-type, td:first-of-type {
        padding-left: 0px;
    }
}

table.flexible, .generaltable {
    //max-width: 100%; // Add in when move to BS3.
}

fieldset {
    min-width: 0;
}

#page-footer {
    .themecredit {
        font-size: 7pt;
        text-align: center;
        a, a:hover {
            color: inherit;
        }
    }
}
