/* Shoelace Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

body {
    background-image: url([[pix:theme|background]]);
}

#region-main {
    background-color: #fff;
    box-shadow: 0 0 8px #bbb;
}

#region-main-shoelace {
    background: url([[pix:theme|shadow]]) no-repeat scroll 50% 100% / 100% 24px transparent;
    padding: 0px 0px 24px;
    margin: 0 auto;
}

#region-main > div {
    padding: 10px;
}

.shoelace-closed .content , .shoelace-closed .header .h2{
    display: none;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
