/* Shoelace Custom CSS
-------------------------*/
a.logo {
    background-image: url('[[setting:logo]]');
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background-position: 100% 0;
    display: block;
    float: right;
}

#region-main-shoelace-shadow {
    /*
    background: url([[pix:theme|shadow]]) no-repeat scroll 50% 100% / 96% 12px transparent;
    padding-bottom: 12px;
    */
    margin: 0 auto;
    display: block;
    clear: both; /* Clear floats that are sometimes used to make the #region-main-shoelace fit the content, i.e Editing Quiz. */
}

.dir-rtl .breadcrumb-nav {
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
