{{{header_tile}}}

<div id="page" class="container-fluid">
    {{{page_header_tile}}}

    <div id="page-content" class="row-fluid">
        <div id="region-main" class="{{{regionmain}}}">
            <section id="region-main-shoelace" class="row-fluid">
                {{{course_content_header}}}
                <span>Mustache template</span>
                {{{main_content}}}
                {{{course_content_footer}}}
            </section>
            <div id="region-main-shoelace-shadow"></div>
        </div>
        {{{blocks_side_pre}}}
    </div>

    {{{footer_tile}}}
</div>
